* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.39);
}

h1 {
  text-align: center;
  padding-block: 1rem;
  color: white;
  font-weight: 800;
}

main {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  gap: 1rem;
}

button {
  min-width: 70px;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  transition: 0.3s;
  font-weight: 600;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background-color: rgb(233, 232, 232);
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background-color: rgba(17, 92, 255, 0.986);
  border-radius: 0.6rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
}

.jogador {
  height: 35px;
  margin-bottom: 10px;
  letter-spacing: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.playerImg {
  width: 75%;
}

.winner {
  font-size: 30px;
  font-weight: normal;
}

.btn-reset {
  margin: 5px;
  padding: 2px;
}

.box {
  width: calc(100% / 3 - 4px);
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.863);
  font-size: 50px;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box:nth-child(3n) {
  border-right: none;
}

.box:nth-child(1n) {
  border-left: none;
}

.box:nth-child(1n) {
  border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.container-moves {
  padding: 1rem 0.5rem;
  width: 300px;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}
